@import "../../styles/variables.scss";

.header {
  position: sticky;
  top: 0;
  padding: 16px 0;
  z-index: 1;

  background-color: #fff;

  &__inner {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__logo {
    height: 24px;
    width: auto;

    @media (max-width: $break-point-phone) {
      height: 14px;
    }

  }

  &__delivery-info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    margin-left: 7vw;

    @media (max-width: $break-point-tablet) {
      display: none;
    }
  }

  &__search {
    margin-left: auto;

    @media (max-width: $break-point-tablet) {
      display: none;
    }
  }

  &__link {
    margin-left: 40px;
    color: #1f1f1f;
    padding: 13px 0;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }

  &__toggle-buttons {
    display: none;
    margin-left: auto;

    @media (max-width: $break-point-tablet) {
      display: flex;
    }
  }

  &__toggle-btn {
    padding: 13px 0;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }

  &__mobile-controls {
    display: none;
    position: relative;

    @media (max-width: $break-point-tablet) {
      display: flex;
    }
  }
}

.mobile-controls {
  display: none;
  position: relative;
  padding-top: 30px;

  @media (max-width: $break-point-tablet) {
    display: flex;
  }

  &__close {
    position: absolute;
    right: 0;
    top: 10px
  }
}
